---
layout: default
---

<section class="posts postindex wrapper">
  {% for post in site.posts %}
    <article class="post {{post_class}}">
      <header>
        <div class="feature"><span>Featured</span><i class="fa fa-bookmark fa-lg"></i></div>
        <h2>
          {% for tag in post.tags %}
            <a href="/tags/{{ tag }}">{{ tag }}</a> 
          {% endfor %}
        </h2>
        <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
        <span class="post-meta">
          Posted on <i class="fa fa-clock-o"></i><time datetime="{{ post.date | date: "%Y-%m-%d" }}">{{ post.date | date_to_long_string }}</time>.
        </span>
        {{ post.excerpt }}
      </header>
    </article>
  {% endfor %}

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
</section>


