$header-font: 'Lato', Serif;
$body-font: "PT Serif", serif;

$body-color: #3b3b3b;
$link-color: #268bd2;
$link-hover-color: #0079ec;

$header-color: #268bd2;
$header-border-color: #f1ece9;

$title-background: #002b36;
$title-hover: #268bd2;

$p-color: #333332;
$hr-color: #d8d6de;

$code-background: #f3f3f3;
$code-border: #e6e6e6;

$quote-border: #c6d5e1;

$th-background: #F0F0F0;
$td-border: #DBDBDB;

$selection-background: #2d75a2;

$footer-color: #a6a6a6;
$footer-link: #5498dc;

$graybar-background: #eeeeee;
$graybar-color: #abaeb6;
